@model IEnumerable<PublicCenter.Models.ExtraModels.ScheduleModel>

@{
    ViewData["Title"] = "Schedule";
}

<h2>Schedule for @DateTime.Today.DayOfWeek, @DateTime.Today.ToShortDateString()</h2>

<table class="table" border="1">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Service
            </th>
            <th>
                Type of Service
            </th>
        </tr>
    </thead>
    <tbody>
        @try
        { 
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="ClientPlan" asp-route-client_id="@item.client.ID">
                    @item.client.First_name
                    <br />
                    @item.client.Last_name
                </a>
</td>
            <td>
                @item.address.City
                <br />
                @item.address.District
                <br />
                @item.address.Addr
            </td>
            <td>
                @item.service.Name
            </td>
            <td>
                @item.serviceType.Name
            </td>
        </tr>
}
        }
        catch { }

    </tbody>
</table>
