@model IEnumerable<PublicCenter.Models.DoneWork>

@{
    ViewData["Title"] = "DepStatistics";
}

<h2>Departament Statistics</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Worker
            </th>
            <th>
                Client
            </th>
            <th>
                Service
            </th>
            <th>
                Date
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Worker.First_name @item.Worker.Last_name,
                @item.Worker.ID
            </td>
            <td>
                @item.Client.First_name @item.Client.Last_name,
                @item.Client.ID
            </td>
            <td>
                @item.Service.Name,
                @item.Service.ID
            </td>
            <td>
                @item.Date_of_service
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back</a>
